body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.sub-container {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {

    font-size: 30px;
    font-weight: bold;
}

.move-icon {

    height: 50px;
}

.move-button {

    background-color: transparent;
    border: 3px solid white;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result {

    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.result-display {

    font-size: 20px;
    margin-top: 30px;

}

.reset {

    margin-top: 40px;
    height: 50px;
    width: 170px;
    border-radius: 10px;
}